[main]
api_key=Your_Youtube_API_key
port = 9180
interface = 127.0.0.1
max_search_results = 50
playlist_folder = ./playlists
domain = your.domain
daemon = true
debug = false

audio_out = audioconvert ! audioresample ! audio/x-raw,rate=48000,channels=2 ! audioconvert ! rtpL16pay ! queue ! udpsink clients=127.0.0.1:10001